@font-face {
  font-family: error404;
  src: url("/src/misc/fonts/error-404.otf")
}

@font-face {
  font-family: gutilight;
  src: url("/src/misc/fonts/guti.light.otf")
}

@font-face {
  font-family: guti;
  src: url("/src/misc/fonts/guti.regular.otf")
}

@font-face {
  font-family: gutibold;
  src: url("/src/misc/fonts/guti.bold.otf")
}

@font-face {
  font-family: gutisemibold;
  src: url("/src/misc/fonts/guti.semibold.otf")
}
